<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col s2">
                    <a href="javascript:history.back();">
                        <i class="large material-icons">arrow_back</i>
                    </a>
                </div>
                <div class="col s2">
                    <a th:href="@{/stuff/stuffList(userToken=${userToken})}">
                        <img src="/icons/home.png">
                    </a>>
                </div>
            </div>
            <form action="/stuff/new" method="post">
                <div class="form-group">
                    <div class="input-field col s12">
                        <input placeholder="물건명을 적어주세요" id="title" name="title" type="text" class="validate">
                        <label for="title">물건명</label>
                    </div>

                    <div class="input-field col s12">
                        <select name="category" id="category" class="validate" style="display:block">
                            <option th:each="category : ${categories}"
                                    th:value="${category}"
                                    th:utext="${category}"></option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <input id="price" type="number" name="price" class="validate">
                        <label for="price">가격</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="text" type="text" name="text" class="validate">
                        <label for="text">물건 설명란</label>
                    </div>

                    <input type="hidden" id="userToken" name="userToken" th:value="${userToken}"/>
                </div>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
