<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col s12 card" th:each="stuff : ${stuffs}">
            <div class="card-content white-text">
                <p th:text="${stuff.id}"></p>
                <p th:text="${stuff.title}"></p>
                <p th:text="${stuff.isDone}"></p>
                <p th:text="${stuff.text}"></p>
                <p th:text="${stuff.price}"></p>
            </div>
        </div>
    </div>


</div> <!-- /container -->
</body>
</html>