<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/new" method="post">
        <div class="form-group">
            <div class="input-field col s12">
                <input placeholder="abcdefg@karrot.com" id="email" name="email" type="email" class="validate">
                <label for="email">이메일(ID)</label>
            </div>
            <div class="input-field col s12">
                <input id="pw" type="password" name="pw" class="validate">
                <label for="pw">비밀번호(PW)</label>
            </div>

            <div class="input-field col s12">
                <input id="name" type="text" name="name" class="validate">
                <label for="name">이름</label>
            </div>

            <div class="input-field col s12">
                <input id="phoneNo" type="text" name="phoneNumber" class="validate">
                <label for="phoneNo">핸드폰번호</label>
            </div>

            <div class="input-field col s12">
                <input id="nickname" type="text" name="nickname" class="validate">
                <label for="nickname">닉네임</label>
            </div>
        </div>
        <button type="submit">submit</button>
</form>

</body>
</html>